* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

li a:hover {
  color: rgba(238, 184, 8, 0.925);
}

p {
  font-weight: bolder;
}

header nav .navbar-brand {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
header nav .collapse ul a {
  font-size: 1.5rem;
}
header nav .collapse ul a:hover {
  color: rgb(221, 166, 16) !important;
}

main section h1 {
  font-size: 3rem;
  text-align: center;
}
main section article {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section article p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0 1.5rem 0 1.5rem;
  text-align: center;
}
main section button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}
main section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}
main section article .treatment-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section article .treatment-text .stars {
  font-size: 2rem;
  color: rgb(204, 153, 44);
}

.main-cejas article {
  display: flex;
  flex-direction: column;
}
.main-cejas article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cejas article .treatment-text h1 {
  margin: 1rem;
}
.main-cejas article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-cejas article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-cejas article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-labios article {
  display: flex;
  flex-direction: column;
}
.main-labios article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-labios article .treatment-text h1 {
  margin: 1rem;
}
.main-labios article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-labios article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-labios article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-parpados article {
  display: flex;
  flex-direction: column;
}
.main-parpados article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-parpados article .treatment-text h1 {
  margin: 1rem;
}
.main-parpados article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-parpados article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-parpados article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-tatuaje article {
  display: flex;
  flex-direction: column;
}
.main-tatuaje article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-tatuaje article .treatment-text h1 {
  margin: 1rem;
}
.main-tatuaje article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-tatuaje article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-tatuaje article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

main .section-nosotros {
  margin: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-nosotros p {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: start;
}

.main-visionmision .section-misionvision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-visionmision .section-misionvision p {
  font-size: 1.3rem;
  text-align: center;
}

.main-terminos .section-terminos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-terminos .section-terminos ul li {
  font-size: 1.3rem;
}
.main-terminos .section-terminos p {
  font-size: 1.3rem;
}

.main-contacto .section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-contacto .section-contacto ul li {
  font-size: 1.3rem;
}
.main-contacto .section-contacto p {
  font-size: 1.3rem;
}
.main-contacto .section-contacto form div input {
  border: 1px solid rgb(43, 43, 43);
}
.main-contacto .section-contacto form div textarea {
  border: 1px solid rgb(43, 43, 43);
}

footer .testimonial-container .testimonial-title {
  font-size: 2rem;
  margin: 2rem;
}
footer section button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 2px;
  margin: 1rem;
}
footer section .footer-brand {
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem 0 2rem 0;
}
footer section .map-icon {
  height: 2rem;
}
footer section .call-icon {
  height: 1.5rem;
}
footer section .clock-icon {
  height: 1.7rem;
}
footer section nav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}
footer section nav ul li a:hover {
  text-decoration: underline;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-photo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.testimonial-stars {
  margin-top: 5px;
  color: gold;
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
