* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

li a:hover {
  color: rgba(238, 184, 8, 0.925);
}

p {
  font-weight: bolder;
}

header .navbar {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}
header .navbar .navbar-brand {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
header .navbar .collapse ul a {
  font-size: 1.3rem;
  margin-right: 20px;
  letter-spacing: 1.5px;
}
header .navbar .collapse ul a:hover {
  color: rgb(221, 166, 16) !important;
}

main section h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}
main section article {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section article p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0 1.5rem 0 1.5rem;
  text-align: center;
  max-width: 60rem;
}
main section button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}
main .main-section-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .main-section-2 h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}
main .main-section-2 article .treatment-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .main-section-2 article .treatment-text .stars {
  font-size: 2rem;
  color: rgb(204, 153, 44);
}

.main-cejas article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cejas article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cejas article .treatment-text h1 {
  margin: 1rem;
}
.main-cejas article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-cejas article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-cejas article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-labios article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-labios article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-labios article .treatment-text h1 {
  margin: 1rem;
}
.main-labios article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-labios article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-labios article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-parpados article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-parpados article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-parpados article .treatment-text h1 {
  margin: 1rem;
}
.main-parpados article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-parpados article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-parpados article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

.main-tatuaje article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-tatuaje article .treatment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-tatuaje article .treatment-text h1 {
  margin: 1rem;
}
.main-tatuaje article .treatment-text p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 1.5rem;
}
.main-tatuaje article .treatment-text ul li {
  font-size: 1.3rem;
}
.main-tatuaje article .treatment-text button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin: 1rem;
}

main .section-nosotros {
  margin: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-nosotros p {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: start;
}

.main-visionmision .section-misionvision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-visionmision .section-misionvision p {
  font-size: 1.3rem;
  text-align: center;
}

.main-terminos .section-terminos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-terminos .section-terminos ul li {
  font-size: 1.3rem;
}
.main-terminos .section-terminos p {
  font-size: 1.3rem;
}

.main-contacto .section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}
.main-contacto .section-contacto ul li {
  font-size: 1.3rem;
}
.main-contacto .section-contacto p {
  font-size: 1.3rem;
}
.main-contacto .section-contacto form div input {
  border: 1px solid rgb(43, 43, 43);
}
.main-contacto .section-contacto form div textarea {
  border: 1px solid rgb(43, 43, 43);
}
.main-contacto .section-contacto form button {
  width: 16rem;
}

footer .testimonial-title {
  font-size: 2rem;
  margin: 2rem;
}
footer button {
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: 0;
  letter-spacing: 2px;
  margin: 1rem;
}
footer .footer-brand {
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem 0 2rem 0;
}
footer .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 25rem;
  margin: 3rem;
}
footer .footer-section .footer-div {
  /* d-flex justify-content-start align-items-start */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
footer .footer-section .line {
  height: 20rem;
  border-left: 2px solid rgb(204, 153, 44);
  display: none;
  margin: 0 1rem 0 1rem;
}
footer .footer-section .map-icon {
  height: 2rem;
}
footer .footer-section .call-icon {
  height: 1.5rem;
}
footer .footer-section .clock-icon {
  height: 1.7rem;
}
footer nav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}
footer nav ul li a:hover {
  text-decoration: underline;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  max-width: 70rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  width: 20rem;
  height: 15rem;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-photo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.testimonial-stars {
  margin-top: 5px;
  color: gold;
  font-size: 20px;
}

@media screen and (min-width: 578px) {
  .main-contacto .section-contacto form div input {
    height: 3rem;
  }
  .main-contacto .section-contacto form button {
    width: 20rem;
  }
  footer h5 {
    font-size: 2rem;
  }
  footer button {
    width: 15rem;
    height: 3.5rem;
    font-size: 1.3rem;
  }
  footer section .footer-brand {
    font-size: 4rem;
  }
  footer section div p {
    font-size: 1.5rem;
  }
  footer section nav ul li a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .main-index .main-section-2 article {
    flex-direction: row !important;
  }
  .main-index .main-section-2 article .eb-ph {
    height: 15rem;
  }
  .main-index .main-section-2 article .lp-ph {
    height: 20rem;
  }
  .main-index .main-section-2 article .el-ph {
    height: 12rem;
  }
  .main-index .main-section-2 article .t-ph {
    height: 12rem;
  }
  footer .testimonial-container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer-section .footer-div {
    flex-direction: row;
  }
  footer .footer-section .footer-div .footer-brand {
    font-size: 3.5;
  }
}
@media screen and (min-width: 992px) {
  header nav div {
    flex-direction: column;
  }
  footer .footer-section .line {
    display: block;
  }
  footer .footer-brand {
    font-size: 3rem !important;
  }
  footer .footer-section {
    flex-direction: row;
  }
  footer .footer-section .location {
    gap: 5px;
  }
  footer .footer-section .location p {
    font-size: 1rem !important;
  }
  footer .footer-section .map-icon {
    height: 1.5rem;
  }
  footer .footer-section .call-icon {
    height: 1.3rem;
  }
  footer .footer-section .clock-icon {
    height: 1.3rem;
  }
  footer .testimonial-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-cejas article {
    flex-direction: row;
  }
  .main-cejas article img {
    height: 18rem;
  }
  .main-cejas article .treatment-text h1 {
    font-size: 2rem;
  }
  .main-labios article {
    flex-direction: row;
  }
  .main-labios article img {
    height: 23rem;
  }
  .main-labios article .treatment-text h1 {
    font-size: 2rem;
  }
  .main-tatuaje article {
    flex-direction: row;
  }
  .main-tatuaje article img {
    height: 15rem;
  }
  .main-tatuaje article .treatment-text h1 {
    font-size: 2rem;
  }
  .main-parpados article {
    flex-direction: row;
  }
  .main-parpados article img {
    height: 15rem;
  }
  .main-parpados article .treatment-text h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-index {
    margin-bottom: 5rem;
  }
  .main-index .main-section-2 article .treatment-text p {
    max-width: 30rem;
  }
  .section-nosotros p {
    max-width: 70rem;
  }
  .section-misionvision p {
    max-width: 70rem;
  }
  .section-terminos p {
    max-width: 50rem;
  }
  .section-terminos ul,
  .section-terminos li {
    max-width: 70rem;
  }
  .section-contacto p {
    max-width: 50rem;
  }
  .main-cejas article p {
    max-width: 50rem;
  }
  .main-labios article p {
    max-width: 50rem;
  }
  .main-parpados article p {
    max-width: 50rem;
  }
  .main-tatuaje article p {
    max-width: 50rem;
  }
}
@media screen and (min-width: 1400px) {
  footer .footer-section .location {
    gap: 5px;
  }
  footer .footer-section .location p {
    font-size: 1.5rem !important;
  }
  footer .footer-section .map-icon {
    height: 1.5rem;
  }
  footer .footer-section .call-icon {
    height: 1.3rem;
  }
  footer .footer-section .clock-icon {
    height: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
