.main-visionmision {
    .section-misionvision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 1.5rem 0 1.5rem;
        p {
            font-size: 1.3rem;
            text-align: center;
        }
    }
}
