footer {
    .testimonial-title {
        font-size: 2rem;
        margin: 2rem;
    }

    button {
        width: 12rem;
        height: 3rem;
        background-color: black;
        color: white;
        border: 0;
        letter-spacing: 2px;
        margin: 1rem;
    }

    .footer-brand {
        font-size: 3rem;
        font-weight: bolder;
        margin: 2rem 0 2rem 0;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 25rem;
        margin: 3rem;

        .footer-div{
            /* d-flex justify-content-start align-items-start */
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
        }

        .line {
            height: 20rem;
            border-left: 2px solid rgb(204, 153, 44);
            display: none;
            margin: 0 1rem 0 1rem;
        }

        .map-icon {
            height: 2rem;
        }

        .call-icon {
            height: 1.5rem;
        }

        .clock-icon {
            height: 1.7rem;
        }
    }

        nav {
            ul {
                li {
                    a {
                        text-decoration: none;
                        color: black;
                        letter-spacing: 0.5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
}

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    max-width: 70rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    width: 20rem;
    height: 15rem;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.testimonial-stars {
    margin-top: 5px;
    color: gold;
    font-size: 20px;
}